h1{
    color: rgb(8, 8, 8);
}
button{background-color: black;}
button{color: blanchedalmond;}
body{background-color: rgb(133, 115, 199);}
li{color: brown;}
caption{color: rgb(32, 214, 19);}
caption{background-color: blacK}
table{background-color: brown;}
h3{background-color: black;}
h3{color: beige;}
a{background-color: rgb(22, 3, 3);}
